video-container{
  position: relative;
  overflow: hidden;
  

}
video {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

.navbar{
    z-index: 1;
}

  .content {
    position:absolute;
    bottom: 0;
    left: 0;
    top: 150px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
p{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header-txt{
    /* font-size:77px; */
    font-size: 2.5rem;
}
