*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-color{
  color: #1DBCF3;
}
hr:not([size]) {
  
  height: 3px;
  color: #1DBCF3;
}
.single-border{
  border: 4px #1DBCF3 solid;
  box-shadow: 1px 1px 10px #1DBCF3 ,-1px -1px 10px #1DBCF3; 
}
ol {counter-reset: item;}
ol li {display: block;}
ol li:before {content: counter(item) ". "; counter-increment: item; font-weight: bold;}


input[type="checkbox"] {
	visibility: hidden;
}
input[type="checkbox"]:checked + label {
  background-color: #1DBCF3;
}
input[type="checkbox"]:checked + label:before {
  transform: translateX(28px);
  background-color: #fff;
}

.toggle-label {
	display: flex;
	width: 57px;
	height: 30px;
	/* border: 5px solid; */
  background-color: #000;
	border-radius: 99em;
	position: relative;
	transition: transform .2s linear-in-out;
	transform-origin: 50% 50%;
	cursor: pointer;

	
}
.toggle-label:before {
  transition: transform .25s linear;
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  top: 2.5px;
  left: 3px;
}

.close{
  border: none;
  border-radius: 25px;
}
.bg-lightgrey{
  background-color: #cccccc;
  }
.bg-darkgrey{
  background-color: #2B2D42;
}  

.dark-color{
  background-color: #0E2B3D;
}
.main-bg{
  background-color: #1DBCF3;;
}

.btn-invest{
  color: #1DBCF3;
  border: 3px #1DBCF3 solid;
  text-decoration: none;
}
.btn-invest:hover {
  color: white;
  border: 3px white solid;
  text-decoration: none;
}

.btn-main{
  background-color: #1DBCF3;
  color: white;
  border-radius: 25px;
  border: none;
}
.btn-main:hover {
  color: #1DBCF3;
  background-color: white;

}

.continue{
  color: #1DBCF3;
  border: 2px #1DBCF3 solid;
  background-color: white;
  border-radius: 25px;

}

.header-item:hover {
  color: #1DBCF3 !important ;
}

.profit-bg{
  background-color: #EDF2F4;
}

.profit{
  padding-top: 700px;
}
.profit-card{
  border-radius: 25px;

}
.profit-txt{
  font-size: 18px;
  
}
.btn-hover{
  border:2px #1DBCF3 solid !important ;

}
.btn-hover:hover {
  border:2px #1DBCF3 solid !important ;
}
.card-header{
  background: url("./assets/images/cardheader.png") no-repeat  ;
  background-size: cover;
}

.header-bg{
  background: transparent linear-gradient(265deg, #0E2B3D 0%, #040E17 100%) 0% 0% no-repeat padding-box;
}

.btn-secondary:hover{
  background-color: #fff;
  color:#2B2D42;
}
.btn-secondary{
  border-radius: 25px;
  border: 2px solid #2B2D42;;
}

.setting-image:hover{
  background: url("./assets/images/setting-blue.svg") no-repeat  ;

}
.setting-image{
  width:30px;
  height:30px;
  background: url("./assets/images/setting.svg") no-repeat  ;
}

.profile-btn:hover{
  color:#1DBCF3;

}
.profile-btn{
  text-decoration: none;
  color:#2B2D42;
}

.profile-mini-container{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 64px #00000029;
  border: 1px solid #70707033;
  border-radius: 20px;
  opacity: 1;
}

.profile-up{
  box-shadow: 0px 3px 64px #00000029;
}


.reinvest-span{
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.fa-rotate:hover{
  color:#1DBCF3
}

.parent{
  position: relative;
}
.parent button {
  position: relative;
  z-index: 2;
  width: 100%;
  transition: all .3s ease-in-out;
  box-shadow: none !important;
}

.parent button.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #2B2D42;
  color: #fff;
}
.parent button.active:hover {
  background-color: #2B2D42;
  color: #fff;
}



.dropdown{
  position: absolute;
  top:0%;
  width: 100%;
  z-index:1;
  border-radius: 25px;
  transition: all .3s ease-in-out;


}


@media only screen and (min-width: 768px) and  (max-width: 991px){
  .profile-mini-container{
    width: 816px !important;
  }
  .profile-mini-container + p {
    width: 816px !important;

  }
}

::placeholder{
  font-weight:bold;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
